@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: rgb(153, 212, 180);
}

/* Tela de cadastro */

.form-box {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 3px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    box-shadow: 10px;
    opacity: 90%;
}

h1 {
    font-size: 30px;
    margin: 20px;
}

.campoTexto {
    border-style: groove;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    width: 50%;
    display: inline-block;
}

.campoTexto input {
    width: 100%;
    padding: 5px;
    height: 30px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.btn {
    border-style: groove;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    width: 20%;
    overflow: hidden;
    float: none;
    height: 40px;
    transition: all ease 0.5s;
}

.btn:hover {
    background-color: rgb(170, 167, 167);
}

/* Resultado do cadastro */

.output {
    width: 30%;
    top: 50%;
    left: 50%;
    height: 400px;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 20px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    box-shadow: 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#res {
    font-size: 18px;
    padding: 20px;
}

#title {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0;
}

.btn2 {
    border-style: groove;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    width: 20%;
    overflow: hidden;
    float: none;
    height: 40px;
    transition: all ease 0.5s;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn2:hover {
    background-color: rgb(170, 167, 167);
}

@media (max-width: 1024px) {
    .form-box {
        width: 50%;
    }
    
    .btn {
        width: 30%;
    }

    .output {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .form-box {
        width: 70%;
    }
    
    .btn {
        width: 30%;
    }

    #res {
        font-size: 15px;
        padding: 20px;
        margin: 20px;
    }

    .output {
        width: 50%;
    }

    #title {
        font-size: 30px;
    }
}

@media (max-width: 425px) {
    .form-box {
        width: 80%;
    }
    
    .btn {
        width: 30%;
        font-size: 10px;
        height: 30px;
    }

    .campoTexto {
        width: 80%;
    }

    .campoTexto input {
        font-size: 13px;
    }

    h1 {
        font-size: 20px;
    }

    .output {
        width: 90%;
    }
}

@media (max-width: 375px) {
    #res {
        font-size: 14px;
        padding: 20px;
        margin: 20px;
    }

    #title {
        font-size: 20px;
    }

    .btn2 {
        font-size: 10px;
        height: 30px;
    }

    .output {
        height: 350px;
    }
}

@media (max-width: 320px) {
    #res {
        font-size: 12px;
        padding: 20px;
        margin: 20px;
    }

    #title {
        font-size: 20px;
    }

    .btn2 {
        font-size: 10px;
        height: 30px;
    }

    .output {
        height: 300px;
    }
}